{% load static %}

   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Register</title>
       
   </head>
   <body>
       
   
 
           <div class="modal-body">
               <form action="." method="post" class="p-3">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <div class="right-w3l">
                       <input type="submit" class="form-control bg-theme" value="Login">
                   </div>

                

                   <div class="row sub-w3l my-3">
                       <div class="col sub-w3ltd">
                           <input type="checkbox" id="brand1" value="">
                           <label for="brand1" class="text-dark">
                               <span></span>Remember me?</label>
                       </div>
                       <div class="col forgot-w3l text-right">
                           <a href="#" class="text-dark">Forgot Password?</a>
                       </div>
                   </div>
                   <p class="text-center dont-do">Don't have an account?
                       <a href="{% url 'home' %}" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
                           <strong>Register Now</strong></a>
                   </p>
               </form>
           </div>
 
<!-- //login modal -->

</body>
</html>